#lander-wrapper {
  position: fixed !important;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: flex;
  background-position: center center;
  background-size: cover;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vh!important;
  overflow: hidden;
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100vw
}

#lander-wrapper:after {
  background: linear-gradient(135deg,#D3959B,#FFB88C);
  content: '';
  height: 100%;
  opacity: .5;
  width: 100%;
}

.lander-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.hero-content {
  display: flex;
  z-index: 15;
  align-self: center;
  justify-content: flex-end;
  height: 30%;

  .hero-item {
    display: flex;
    align-self: center;
  }
}