#lander-wrapper {
  position: fixed !important;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
  display: flex;
  background-position: center center;
  background-size: cover;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vh!important;
  overflow: hidden;
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100vw
}

#lander-wrapper:after {
  background: linear-gradient(135deg,#D3959B,#FFB88C);
  background: -webkit-linear-gradient(135deg,#D3959B,#FFB88C);
  background: -o-linear-gradient(135deg,#D3959B,#FFB88C);
  background: -moz-linear-gradient(135deg,#D3959B,#FFB88C);
  content: '';
  height: 100%;
  opacity: .6;
  width: 100%;
}

.lander-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content-1 h2, .hero-content-1 h3, .hero-content-1 h6 {
  margin: 0;
  z-index: 999;
}

.hero-content-1 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height: 400px;
  max-width: 700px;
  color: white;
  line-height: 50px;
  font-family: "brandon-grotesque",sans-serif;
	font-weight: 300 !important;

  h2 {
    font-size: 50px;
  }

  h3, h6 {
    font-size: 40px;    
  }

  h3 {
    text-decoration: underline;
  }
}