h1 {
  z-index: 9999;
  position: fixed;
  font-size: 70px;
  color: white;
  font-family: sans-serif;
}

h1::after {
  content: '.';
  background: white;
  height: 20px;
  width: 20px;
}

.typewriter-container {
  margin-top: -60px;
  width: 100%;
  text-align: center;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 100vh !important;
}